---
// import HeroPhoneImage from '../../images/hero_phone.png'
import { Image } from '@astrojs/image/components';
import HeroPhoneImage from '../../images/hero_phone.png'
---
<section class=" bg-slate-800 bg-homePageBg bg-cover bg-center bg-no-repeat bg-blend-overlay w-full h-screen font-nunito">
    <div class="grid grid-cols-2 gap-2 place-items-center h-full w-full max-w-screen-xl mx-auto ">
        <div class="leading-8 px-4">
            <h1 class="text-orange-400 text-5xl font-semibold">An entrepreneurship <br/>learning platform</h1>
            <p class="text-white my-12">Nurturing the next generation of entrepreneurs</p>
            <button class="rounded-lg px-6 py-3 bg-orange-400 text-white">Schedule a demo!</button>
        </div>
        <div>
            <Image src={HeroPhoneImage} alt="kinetic-mobile-version" format='avif' class="object-contain h-fit"/>
        </div>
    </div>
</section>
