---

---
<section class="bg-slate-800 bg-homeReachOutBg bg-cover bg-center bg-no-repeat bg-blend-overlay w-full h-screen font-nunito">
    <div class="text-center">
        <h2 class="text-white text-4xl py-10 font-medium">Reach out to us </h2>
    </div>
    <div class="rounded-xl w-1/2 mx-auto bg-orange-500 bg-opacity-10   px-6 py-3">
        <form class="text-white">
            <div class="grid gap-5 place-items-start py-4">
                    <div>
                        <div>
                            <label for="fullname">Full Name</label>
                        </div>
                        <input type="text" name="fullName" id="fullname">
                    </div>
                    <div>
                        <div>
                            <label for="eamiladdress">Email Address</label>
                        </div>
                        <input type="email" name="fullName" id="emailaddress">
                    </div>
                
                    <div>
                        <div>
                            <label for="school">School</label>
                        </div>
                        <input type="text" name="school" id="school">
                    </div>
                    <div>
                        <div>
                            <label for="categorty">Email Address</label>
                        </div>
                        <input type="text" name="catergory" id="categorty">
                    </div>
                
                
                    <div>
                        <div>
                            <label for="phonemumber">Phone Number</label>
                        </div>
                        <input type="number" name="phonenumber" id="phonenumber">
                    </div>
                    <div>
    
                    </div>
                

                    <div>
                        <div>
                            <label for="message">Your Message</label>
                        </div>
                        <textarea name="mesaage" id="message" cols="30" rows="5"></textarea>
                    </div>
                <div>
                    <button class='bg-orange-400 px-6 py-3 rounded-lg'>Submit</button>
                </div>
            </div>
        </form>
    </div>
</section>